<div class="container-fluid">

  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Presentación</a>
        </li>
        <li class="nav-item">
          <!--Añadimos este atributo para hacer la navegación al componente Blog al hacer clic-->
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </nav>

  <app-art1></app-art1><br>
  <app-art2></app-art2>

</div>
